---
import Layout from '../../layouts/layout.astro'
export function getStaticPaths() {
  return [
    {params: {id: "1"}, props: {product: "ยำมาม่า"}},
    {params: {id: "2"}, props: {product: "ช็อคโกแลตปั่น"}}
  ]
}

const {product} = Astro.props

const list = [...Array(18).keys()]
---
<Layout>
  <div class="grid w-full grid-cols-3 grid-rows-6 gap-2 font-semibold text-gray-600">
    {list.map((c) => (
      <div class="p-2 border-gray-300 border">
        <div class="flex">
          <div class="p-2 border-r-8 border-dotted border-gray-600 flex items-center">
            <h2 class="text-xl">CS@TU</h2>
          </div>
          <div class="p-4">
            <h3>คูปอง</h3>
            <h2 class="text-lg">{product}</h2>
          </div>
        </div>
        <div class="mt-4 border p-1 font-medium rounded text-center">
          Fastforward 2023  
        </div>
      </div>
    ))}
  </div>
</Layout>
